<%= form_for @order_item do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :product_id %><br />
    <%= f.text_field :product_id %>
  </p>
  <p>
    <%= f.label :order_id %><br />
    <%= f.text_field :order_id %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p><%= f.submit %></p>
<% end %>
