<!DOCTYPE html>
<html>
  <head>
    <title>FoodWorks - Products: <%= controller.action_name %></title>
    <%= stylesheet_link_tag "styles" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
	<p style="color: green"><%= flash[:notice] %></p>
	<div class="wrapper">
		<div class="header">
			<h1>FoodWorks</h1>
			<p>Your Online Grocery</p>
		</div>
		<div class="sidebar">
			(sidebar)
		</div>
		<div class="main">
			<%= yield %>
		</div>
		<div class="footer">
			FoodWorks Online Grocery <br/>
			A Rails Jumpstart Project II
		</div>
    </div>
  </body>
</html>
